/* Discount Section */

.discount-section {
  width: 1320px;
  margin: 80px auto;
  font-family: "Inter", sans-serif;
}

.discount-container {
  text-align: center;
}

/* 65% OFF */

.discount-container h1 {
  font-size: 88px;
  font-weight: 700;
  color: #ff0000;
  margin-bottom: 40px;
}

/* OUR HOLIDAY DEALS ARE BETTER */

.discount-container h4 {
  font-size: 24px;
  font-weight: 500;
  color: #ff0000;
  text-transform: uppercase;
  margin-bottom: 16px;
}

/* ALL CATEGORIES */

.discount-container h2 {
  font-size: 48px;
  font-weight: 700;
  color: #070211;
  text-transform: uppercase;
  margin-bottom: 48px;
}

/* Image */

.discount-image img {
  width: 800px;
  display: block;
  margin: 0 auto;
}
